* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   margin: 2.5rem 5rem;
}

.tables {
   display: flex;
}

@media screen and (max-width:878px) {
   .tables {
      flex-direction: column;
   }
}